#hamburgerIcon {
  display: none; /* Hide the hamburger icon by default */
}

#main {
  height: 100%; /* Adjust height to cover entire viewport */
  display: flex; /* Enable flex layout */
  background-color: #f5f5f5;
}

#menu {
  width: 250px; /* Fixed width for the sidebar */
  background-color: #f5f5f5;
  height: 100%; /* Cover full height of the viewport */
  position: fixed; /* Fix the sidebar to the left */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  z-index: 1000; /* Ensure it's on top of other content */
  overflow-y: auto; /* Allow scrolling if content exceeds viewport height */
  transition: left 0.3s ease; /* Smooth transition for opening/closing */
}

#menu ul {
  list-style: none;
  padding: 0;
}

#menu ul li {
  margin: 20px 0;
}

#menu ul li a {
  color: orange;
  text-decoration: none;
  padding: 10px 20px; /* Add padding to make links clickable */
  display: block; /* Ensure links take up full width */
}

@media (max-width: 1024px) {
  #main {
    background-color: transparent; /* Make main content transparent to show sidebar */
  }

  #menu {
    left: -250px; /* Start with sidebar hidden */
  }

  #menu.active {
    left: 0; /* Show sidebar when active class is applied */
  }

  #hamburgerIcon {
    display: block; /* Display hamburger icon for mobile view */
    font-size: 30px;
    cursor: pointer;
    position: fixed; /* Position hamburger icon absolutely */
    top: 20px; /* Adjust top position */
    left: 20px; /* Adjust left position */
    z-index: 1500; /* Ensure hamburger icon is on top of sidebar */
  }

  #menu ul {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 90px;
    padding-left: 5px;
  }

  #menu ul li {
    margin: 20px 0;
  }
}
